body{
    background-color:rgb(56, 62, 109);
}
#main{
    background-color: rgb(44, 35, 85);
    border-radius: 8px;
    width:clamp(300px, 60%, 61%);
    margin:100px auto;
    padding:20px;
}
*{
    color:white;
    font-family: 'Open Sans', sans-serif;
}
#body{
    display: flex;
    flex-direction: row;
    gap:30px;
    animation:bounce .5s;
}
#child,#last,#header{
    text-align:center;
}
#last{
    padding-top:40px;
}
a{
    color:rgb(65, 65, 250);
    text-decoration: none;
}
@keyframes bounce {
    0%{
        transform:translateY(-80px);
    } 
    
    50%, 100% {
      transform: translateY(0px);
    }
    
    
    70% {
      transform: translateY(-10px);
    }
  }